@model MetaModelCoreApp.Models.LegendInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LegendInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LengentName" class="control-label"></label>
                <input asp-for="LengentName" class="form-control" />
                <span asp-validation-for="LengentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengentNameId" class="control-label"></label>
                <input asp-for="LengentNameId" class="form-control" />
                <span asp-validation-for="LengentNameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartRange" class="control-label"></label>
                <input asp-for="StartRange" class="form-control" />
                <span asp-validation-for="StartRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndRange" class="control-label"></label>
                <input asp-for="EndRange" class="form-control" />
                <span asp-validation-for="EndRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegendColor" class="control-label"></label>
                <input asp-for="LegendColor" class="form-control" />
                <span asp-validation-for="LegendColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

